/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 33px;
}

h1 {
  font-size: 25px;
  margin: 10px 0;
}

p {
  margin: 33px;
  font-size: 13px;
}

a {
  color: #666666;
}

.index {
  margin: 33px;
  font-size: 13px;
}

th {
  padding-bottom: 5px;
}

td {
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.new {
  margin: 13px 0;
}

.text_title,.text_body {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin-bottom: 10px;
}

.edit,.show {
  font-size: 13px;
}

.edit p {
  margin: 0;
}



.alert {
  margin: 0;
  width: 450px;
  border: 2px solid red;
  background-color: rgb(222, 222, 222);
}

.error {
  margin: 0;
  font-size: 12px;
  background-color: red;
  color: white;
}

.alert ul {
  margin: 33px;
  line-height: 18px;
}

.alert li {
  text-align: left;
  list-style: square;
}

.field_with_errors {
  display: contents;
}

